<!DOCTYPE html>
<html lang="pt-br">

<%- include('./components/head.ejs') %>



<body>
    <%- include ("./components/header.ejs") %>

    <main>

    <div class=" container formulario">    

    <div class="" novalidate="">
        <h3>Cadastrar novo Usuário</h3>
        <form name="fmUsuarios" method="post" action="" >
            
                
                  <label for="Name" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="Name" placeholder="Fulano da Silva"  >
                  
                
          
                
            <div class="col-md-3">
                <label 
                for="username" 
                class="form-label" 
                 
                >CPF</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="CPF" placeholder="00000000000"  maxlength="12" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                
                </div>
              </div>                    
              

              
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                
              

              
                <label for="zip" class="form-label">CEP</label>
                <input type="text" class="form-control" id="cep" placeholder="00000000"  maxlength="8" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                
              
              <div class="col-md-2">
                <label for="country" class="form-label">UF</label>
                <input type="text" class="form-control" id="uf" placeholder="UF"  >
                
              </div>
  
              <div class="col-md-7">
                <label for="state" class="form-label">Cidade</label>
                <input type="text" class="form-control" id="cidade" placeholder="CIDADE"  >
                
              </div>
  
              <div class="col-12">
                <label for="address" class="form-label">Logradouro</label>
                <input type="text" class="form-control" id="logradouro" placeholder="Rua a" >
                
              </div>

              <div class="col-12">
                <label for="address" class="form-label">Número</label>
                <input type="text" class="form-control" id="logradouro" placeholder="N 85" >
                
              </div>
  
              <div class="col-12">
                <label for="address2" class="form-label">Complemento</label>
                <input type="text" class="form-control" id="complemento" placeholder="Casa/Apartamento/Quadra">
              </div>              
                
            </div>

            <div class="col-12 mt-3 pt-2 border-top">
              
              <label>Email:</label><br>
                 <input type="email" name="txtLogin" class="form-control" maxlength="50"><br>

            </div>
  
            
                 
            

            <div class="col-12">
                 <label>Senha:</label><br>
                  <input type="password" name="txtSenha1" class="form-control" maxlength="16"><br>
             </div>

             <div>
                 <label>Repita a Senha:</label><br>
                 <input type="password" name="txtSenha2" class="form-control" maxlength="16"><br>
            </di>
            
            </select>
            <button type="submit" name="btnSubmitUsuario" class="btn btn-primary" style="width: 100%;">Cadastrar Usuário</button></a>
           

        </form>

    </div>
</div>
</main>

    <%- include ("./components/footer.ejs") %>

</body>
</html>
