<!DOCTYPE html>
<html lang="en">
    <%- include ("./components/head.ejs") %> 
<body>
    <%- include("./components/header.ejs")%>
    <main>
        
    </main>
    <%- include("./components/footer.ejs") %>

    
</body>
</html>