<!DOCTYPE html>
<html lang="pt-BR">
    <%- include ("./components/head.ejs") %> 
    <body>
      <%- include("./components/header.ejs")%> 
      
      <main>
        <section class="container d-flex flex-row">
          <%- include("./components/navLateralhomeadmin.ejs")%><!--  MENU LATERAL DO CLIENTE -->
            <div class="mx-2 p-3 bg-dark rounded">
              <form class="" novalidate="">
                <div class="row g-3">
                  <div class="col">
                    <label for="Name" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="Name" placeholder="" value="" required="">
                    
                  </div>
      
                  
      
                  <div class="col-md-3">
                    <label 
                    for="username" 
                    class="form-label" 
                     
                    >CPF</label>
                    <div class="input-group has-validation">
                      <input type="text" class="form-control" id="CPF" placeholder="" required="" maxlength="12" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                    
                    </div>
                  </div>
      
                  <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    
                  </div>

                  <div class="col-md-3">
                    <label for="zip" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="cep" placeholder="00000000" required="" maxlength="8" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                    
                  </div>

                  <div class="col-md-2">
                    <label for="country" class="form-label">UF</label>
                    <input type="text" class="form-control" id="uf" placeholder="" value="" required="">
                    
                  </div>
      
                  <div class="col-md-7">
                    <label for="state" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="cidade" placeholder="" value="" required="">
                    
                  </div>
                  <div class="col-md-7">
                    <label for="state" class="form-label">Bairro</label>
                    <input type="text" class="form-control" id="bairro" placeholder="" value="" required="">
                    
                  </div>
      
                  <div class="col-12">
                    <label for="address" class="form-label">Logradouro</label>
                    <input type="text" class="form-control" id="logradouro" placeholder="Rua a" required="">
                    
                  </div>
                  <div class="col-6">
                    <label for="address2" class="form-label">Numero</label>
                    <input type="text" class="form-control" id="complemento" placeholder="N 85">
                  </div>
      
                  <div class="col-12">
                    <label for="address2" class="form-label">Complemento</label>
                    <input type="text" class="form-control" id="complemento" placeholder="Casa/Apartamento/Quadra">
                  </div>
      
                  
      
                  
                </div>
      
                
      
                
      
                
      
                  
      
                  
      
                 
      
                <hr class="my-4">
      
                <button class="w-100 btn btn-primary btn-lg" type="submit">Salvar</button>
              </form>   
            </div>
        </section>

      </main>

      <%- include("./components/footer.ejs") %>
</body>
</html>