<!DOCTYPE html>
<html lang=pt-BR">
<%- include('./components/headAdmin.ejs') %>

<body>
  
  <%- include('./components/headerAdmin.ejs') %>   
  
  <main class="bg-secondary">
    <section class="container py-2 rounded-2 d-flex flex-wrap" style=" background-color: var(--bs-tertiary-color);" >
        
        <div class="d-flex flex-column" style="height: 60rem;">
          <a href="#" class="btn btn-success me-2 mt-2">SALVAR</a>  
          <a href="/produtosadmin" class="btn btn-danger me-2 mt-2">CANCELAR</a>
            
        </div>
        
        

    </section>

  </main>


  <%- include('./components/footerAdmin.ejs') %>
</body>
</html>