<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('./components/headAdmin.ejs') %>

  <body>
    
    <%- include('./components/headerAdmin.ejs') %>
    <main class="bg-secondary" >

      <section class="container d-flex justify-content-center">
        <img src="/img/svg/logo-grande.svg" alt="">

      </section>


    </main>

    <%- include('./components/footerAdmin.ejs') %>
  </body>
</html>
