<!DOCTYPE html>
<html lang="pt-BR">
    <%- include ("./components/head.ejs") %> 
    <body>
      <%- include("./components/header.ejs")%> 
      
      <main>
        <section class="container d-flex flex-row">
            <%- include("./components/navLateralhomeadmin.ejs")%><!--  MENU LATERAL DO CLIENTE -->
            <section>
                <img src="/img/svg/logo-grande.svg" alt="">
            </section>
        </section>

      </main>

      <%- include("./components/footer.ejs") %>
</body>
</html>