<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <title>JMEG NOTEBOOKS</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="js/index.js"></script>
  </head>

  <body>
    <%- include("./components/header.ejs")%>

    <main>
      <div class="mNewProdutos">
        <div class="mNPItem">
          <div class="mNPItemPic">
            <img src="/img/avif/dell-teste.avif" alt="Img Dell Teste" />
          </div>
          <div class="mNPItemDesc">Notebook Vostro 3520</div>
          <div class="mNPItemVlr"><strong>R$ 4699,00</strong></div>
        </div>
        <div class="mNPItem">
          <div class="mNPItemPic">
            <img src="/img/avif/dell-teste.avif" alt="Img Dell Teste" />
          </div>
          <div class="mNPItemDesc">Notebook Vostro 3520</div>
          <div class="mNPItemVlr"><strong>R$ 4699,00</strong></div>
        </div>
        <div class="mNPItem">
          <div class="mNPItemPic">
            <img src="/img/avif/dell-teste.avif" alt="Img Dell Teste" />
          </div>
          <div class="mNPItemDesc">Notebook Vostro 3520</div>
          <div class="mNPItemVlr"><strong>R$ 4699,00</strong></div>
        </div>
      </div>
      <div class="mBanner">
        <img src="/img/svg/banner-promocional.svg" alt="Frete Grátis" />
      </div>
      <div class="mMarcas">
        <div class="mMMarca">
          <img src="/img/svg/lenovo-logo.svg" alt="Marca Lenovo" />
        </div>
        <div class="mMMarca">
          <img src="/img/svg/samsung-logo.svg" alt="Marca Samsung" />
        </div>
        <div class="mMMarca">
          <img src="/img/svg/dell-logo.svg" alt="Marca Dell" />
        </div>
        <div class="mMMarca">
          <img src="/img/svg/acer-logo.svg" alt="Marca Acer" />
        </div>
      </div>
      <div class="mProdutosBaratos">
        <div class="mPBItem">
          <div class="mPBItemImg-Comprar">
            <div class="mPBItemIMG">
              <img
                src="/img/avif/dell-teste.avif"
                alt="Imagem Dell teste"
              />
            </div>
            <div class="mPBItemVlr" id="mPBItemVlr">
              <strong>R$ 4699,00</strong>
            </div>
          </div>
          <div class="mPBItemDesc">Notebook Vostro 3520</div>
        </div>
        <div class="mPBItem">
          <div class="mPBItemImg-Comprar">
            <div class="mPBItemIMG">
              <img
                src="/img/avif/dell-teste.avif"
                alt="Imagem Dell teste"
              />
            </div>
            <div class="mPBItemVlr" id="mPBItemVlr">
              <strong>R$ 4699,00</strong>
            </div>
          </div>
          <div class="mPBItemDesc">Notebook Vostro 3520</div>
        </div>
        <div class="mPBItem">
          <div class="mPBItemImg-Comprar">
            <div class="mPBItemIMG">
              <img
                src="/img/avif/dell-teste.avif"
                alt="Imagem Dell teste"
              />
            </div>
            <div class="mPBItemVlr" id="mPBItemVlr">
              <strong>R$ 4699,00</strong>
            </div>
          </div>
          <div class="mPBItemDesc">Notebook Vostro 3520</div>
        </div>
      </div>
    </main>

    <footer>
      <div class="fMarcas">
        <ul>
          <li><a href="#">Lenovo</a></li>
          <li><a href="#">Samsung</a></li>
          <li><a href="#">Dell</a></li>
          <li><a href="#">Acer</a></li>
        </ul>   
        
        
        
        
      </div>
      <div class="fProcessadores">
        <ul>
          <li>CORE I3</li>
          <li>CORE I5</li>
          <li>CORE I7</li>
        </ul>
      </div>
      <div class="fFaleConosco"></div>
      <div class="fPagamento"></div>
      <div class="fSocialMedia"></div>      
    </footer>
  </body>
</html>
