<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <title>JMEG NOTEBOOKS</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../public/css/style.css" rel="stylesheet" />
    <script src="../public/js/index.js"></script>
  </head>

  <body>
    <header>
      <div class="hTop">
        <div class="hMsgBoasVindas">Olá, seja bem vindo(a)!</div>
        <div class="hMsgFoneAtendimento">
          <a
            href="https://wa.me/5548996536495?text=Ol%C3%A1%2C+vim+do+seu+Site%21"
            target="_blank"
            rel="noopener noreferrer"
            >Atendimento ao cliente (xx) xxxxx-xxxx
            <img src="../public/img/svg/whatsapp-ico.svg" alt="Whatsapp Imagem"
          /></a>
        </div>
        <div class="hAcompPed">
          <a href="#"
            ><img
              src="../public/img/svg/truck.svg"
              alt="Caminhão de
              Pedidos"
            />
            Acompanhe seu pedido!
          </a>
        </div>
        <div class="hSocialMedia">
          <div>
            <a
              href="http://www.instagram.com"
              target="_blank"
              rel="noopener
              noreferrer"
              ><img
                src="../public/img/svg/instagram-ico.svg"
                alt="Ícone do Instagram"
            /></a>
          </div>
          <div>
            <a
              href="http://www.facebook.com"
              target="_blank"
              rel="noopener
              noreferrer"
            >
              <img
                src="../public/img/svg/facebook-ico.svg"
                alt="Ícone do Instagram"
            /></a>
          </div>
          <div>
            <a
              href="http://www.youtube.com"
              target="_blank"
              rel="noopener
              noreferrer"
              ><img
                src="../public/img/svg/youtube-ico.svg"
                alt="Ícone
                do Instagram"
            /></a>
          </div>
        </div>
      </div>
      <div class="hMiddle">
        <div class="hLogo">
          <a href="#"
            ><img
              src="../public/img/svg/logo-ico.svg"
              alt="Logo do Site JMEG Notebooks"
            /><!--FALTA COLOCAR O LINK PARA EFETUAR A PESQUISA--></a
          >
        </div>
        <div class="hBusca">
          <input
            type="text"
            class="hTxtBusca"
            placeholder="o que procura hoje?"
          />
          <a href="#"
            ><!--FALTA COLOCAR O LINK PARA EFETUAR A PESQUISA--><img
              src="../public/img/svg/lupa-search-ico.svg"
              alt="buscar"
              class="hImgBusca"
          /></a>
        </div>
        <div class="hFav">
          <a href="#">
            <div class="hFavImg">
              <img src="../public/img/svg/favorito-ico.svg" alt="Favoritos" />
            </div>
            <div class="hTxtFav">Favoritos</div>
          </a>
        </div>
        <div class="hMConta">
          <a href="#">
            <div class="hMContaImg">
              <img src="../public/img/svg/user-ico.svg" alt="Minha Conta" />
            </div>
            <div class="hMContaTxt">Minha Conta</div>
          </a>
        </div>
        <div class="hMCarrinho">
          <a href="#">
            <div class="hMCarrinhoImg">
              <img
                src="../public/img/svg/carrinho-ico.svg"
                alt="Meu Carrinho "
              />
            </div>
            <div class="hMCarrinhoTxt">Meu Carrinho</div>
          </a>
        </div>
      </div>
      <div class="hDown">
        <div class="hDMenuAll">TODOS</div>
        <div class="hDMenuMarca">MARCA</div>
        <div class="hDMenuProcessador">PROCESSADOR</div>
        <div class="hDMenuRam">RAM</div>
        <div class="hDMenuTamMonitor">TAMANHO MONITOR</div>
      </div>
    </header>

    <main>
      <div class="mNewProdutos">
        <div class="mNPItem">
          <div class="mNPItemPic">
            <img src="../public/img/avif/dell-teste.avif" alt="Img Dell Teste" />
          </div>
          <div class="mNPItemDesc">Notebook Vostro 3520</div>
          <div class="mNPItemVlr"><strong>R$ 4699,00</strong></div>
        </div>
        <div class="mNPItem">
          <div class="mNPItemPic">
            <img src="../public/img/avif/dell-teste.avif" alt="Img Dell Teste" />
          </div>
          <div class="mNPItemDesc">Notebook Vostro 3520</div>
          <div class="mNPItemVlr"><strong>R$ 4699,00</strong></div>
        </div>
        <div class="mNPItem">
          <div class="mNPItemPic">
            <img src="../public/img/avif/dell-teste.avif" alt="Img Dell Teste" />
          </div>
          <div class="mNPItemDesc">Notebook Vostro 3520</div>
          <div class="mNPItemVlr"><strong>R$ 4699,00</strong></div>
        </div>
      </div>
      <div class="mBanner">
        <img src="../public/img/svg/banner-promocional.svg" alt="Frete Grátis" />
      </div>
      <div class="mMarcas">
        <div class="mMMarca">
          <img src="../public/img/svg/lenovo-logo.svg" alt="Marca Lenovo" />
        </div>
        <div class="mMMarca">
          <img src="../public/img/svg/samsung-logo.svg" alt="Marca Samsung" />
        </div>
        <div class="mMMarca">
          <img src="../public/img/svg/dell-logo.svg" alt="Marca Dell" />
        </div>
        <div class="mMMarca">
          <img src="../public/img/svg/acer-logo.svg" alt="Marca Acer" />
        </div>
      </div>
      <div class="mProdutosBaratos">
        <div class="mPBItem">
          <div class="mPBItemImg-Comprar">
            <div class="mPBItemIMG">
              <img
                src="../public/img/avif/dell-teste.avif"
                alt="Imagem Dell teste"
              />
            </div>
            <div class="mPBItemVlr" id="mPBItemVlr">
              <strong>R$ 4699,00</strong>
            </div>
          </div>
          <div class="mPBItemDesc">Notebook Vostro 3520</div>
        </div>
        <div class="mPBItem">
          <div class="mPBItemImg-Comprar">
            <div class="mPBItemIMG">
              <img
                src="../public/img/avif/dell-teste.avif"
                alt="Imagem Dell teste"
              />
            </div>
            <div class="mPBItemVlr" id="mPBItemVlr">
              <strong>R$ 4699,00</strong>
            </div>
          </div>
          <div class="mPBItemDesc">Notebook Vostro 3520</div>
        </div>
        <div class="mPBItem">
          <div class="mPBItemImg-Comprar">
            <div class="mPBItemIMG">
              <img
                src="../public/img/avif/dell-teste.avif"
                alt="Imagem Dell teste"
              />
            </div>
            <div class="mPBItemVlr" id="mPBItemVlr">
              <strong>R$ 4699,00</strong>
            </div>
          </div>
          <div class="mPBItemDesc">Notebook Vostro 3520</div>
        </div>
      </div>
    </main>

    <footer>
      <div class="fMarcas">

        
      </div>
      <div class="fProcessadores"></div>
      <div class="fFaleConosco"></div>
      <div class="fPagamento"></div>
      <div class="fSocialMedia"></div>      
    </footer>
  </body>
</html>
