<!DOCTYPE html>
<html lang="pt-BR">
    <%- include ("./components/head.ejs") %> 
    <body>
      <%- include("./components/header.ejs")%> 
      
      <main>
        <section class="container d-flex flex-row"><!--  MENU LATERAL DO CLIENTE -->
            <div class="flex-shrink-0 p-3 bg-white rounded" style="width: 280px;">
                
                  
                  <span class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom fs-5 fw-semibold">Olá, USUARIO</span>
                
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-dark d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                      Meu Cadastro
                    </button>
                    <div class="collapse" id="home-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/editameucadastro" class="link-dark d-inline-flex text-decoration-none rounded ms-3 mt-2">Editar</a></li> <!-- OPÇÃO DE EDITAR CADASTRO -->
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-dark d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
                      Meus Pedidos
                    </button>
                    <div class="collapse show" id="dashboard-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded ms-3 mt-2">Visualizar Meus Pedidos</a></li>
                      </ul>
                    </div>
                  </li>
                  
                </ul>
              </div>
            <section class="bg-light rounded ms-2 w-100 p-3" style="height: 200rem;">
                <div class="my-5">
                    <h1 class="text-dark text-center">Meus pedidos</h1>
                </div>
                
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                      <h5 class="card-title text-dark">Pedido nº: 10</h5>                    
                      <p class="card-text text-secondary">R$ 15000,00</p>
                    </div>
                  </div>
                
            </section>
        </section>

      </main>

      <%- include("./components/footer.ejs") %>
</body>
</html>