<!DOCTYPE html>
<html lang="pt-BR">
<%- include ("./components/head.ejs") %>



<body>
  <header class="bg-secondary p-1">
    <section class="container bg-white rounded-5 justify-content-between
                    py-3">
      <div class="d-flex flex-wrap align-items-center
                        justify-content-between">
        <ul class="nav col-12 col-md-auto mb-2
                            justify-content-center mb-md-0">
          <li><a href="/" class="btn btn-light m-1">Início</a></li>
          
        </ul>

        
      </div>
    </section>
  </header>
  <main>
    <section class="container d-flex justify-content-center">
        
      <img src="img/svg/404.svg" alt="Não encontrado" width="100%" />
    </section>
  </main>

  <%- include("./components/footer.ejs") %>
</body>

</html>