@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

* {
  margin: 0;
  font-family: "Mulish", "Times New Roman";
}

.hTop,
.hMiddle,
.hDown {
  display: flex;
  background-color: #749c94;
  color: white;
  justify-content: space-between;
  align-items: center;
  
}

.h-top-bg{
  background-color: #749c94
}

.hTop a {
  text-decoration: none;
  color: white;
}

.hSocialMedia {
  display: flex;
  justify-content: space-between;
}

.hSocialMedia a {
  margin-left: 0.5vw;
}

.h-middle-bg,
.hMiddle {
  background-color: #4bb3a2;
}

.hBusca {
  display: flex;
  background-color: #cecbcb;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  width: 40vw;
  border-radius: 36.5px;
  transition: 2s;
}

.hBusca:hover {
  transition: 0.1s;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hBusca input {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  height: 100%;
}

.hBusca input::placeholder {
  font-weight: bold;
  font-size: 1rem;
}

.hFav a,
.hMConta a,
.hMCarrinho a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.h-down-bg,
.hDown {
  background-color: #aed4d3;
  color: black;
  font-weight: bold;
}

.hDown div {
  width: 100%;
  text-align: center;
  transition: 1.5s;
}

.hDown div:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #749c94;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/* MAIN */

main {
  background-color: #749c94;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0.5% 3%;
}

.mNewProdutos,
.mBanner,
.mMarcas,
.mProdutosBaratos {
  background-color: #AED4D3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1% 0;
}



.mNPItem {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #4BB3A2;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 2%;
  cursor: pointer;
  transition: 2s;
}

.mNPItem:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  
}

.mNPItemPic {
  border-radius: 30%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.mNPItemPic img {
  width: 80%;
}



.mBanner img {
  width: 100%;
  
}


.mMMarca {
  padding: 3%;
  transition: 1s;
}

.mMMarca:hover {
  transform: scale(1.125);
  cursor: pointer;
}

.mMMarca img {
  width: 100%;
}

.mPBItem {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: black;
  justify-content: center;
  align-items: center;
  margin: 2%;
  cursor: pointer;
  transition: 1s;
}

.mPBItem:hover {
  transform: scale(1.125);

}

.mPBItemImg-Comprar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 2%;
  background: white;
}


.mPBItemIMG img {
  width: 100%;
}










