<footer class="bg-secondary py-1">
    <section class="container bg-white p-1 rounded-5">
      <div class="d-flex justify-content-end align-items-center pe-3">
        <span class="mb-3 mb-md-0 text-muted">© 2023, JMEG</span>
      </div>
    </section>
  </footer>