<footer class="footer-bg">
  <section class="container container-bg-footer d-flex justify-content-around">
    <div class="fMarcas row col align-self-center">
      <p class="text-center"><strong>MARCAS</strong></p>
      
        <a href="/consultaprod/lenovo" class="nav-link text-black text-center" >LENOVO</a>
        <a href="/consultaprod/samsung" class="nav-link text-black text-center">SAMSUNG</a>
        <a href="/consultaprod/dell" class="nav-link text-black text-center">DELL</a>
        <a href="/consultaprod/acer" class="nav-link text-black text-center">ACER</a>
      
    </div>

    <div class="fProcessadores row col align-self-center">
      <p class="text-center"><strong>PROCESSADORES</strong></p>
      
        <a href="/consultaprod/CORE I3" class="nav-link text-black text-center">CORE I3</a>
        <a href="/consultaprod/CORE I5" class="nav-link text-black text-center">CORE I5</a>
        <a href="/consultaprod/CORE I7" class="nav-link text-black text-center">CORE I7</a>
      
    </div>

    <div class="fFaleConosco col align-self-center">
      <div class="text-center text-fale-conosco"><strong>Fale Conosco</strong></div>
      <a
        href="https://wa.me/5548996536495?text=Ol%C3%A1%2C+vim+do+seu+Site%21"
        target="_blank"
        rel="noopener noreferrer"
        class="nav-link text-black text-center"
        >(xx) xxxxx-xxxx
      </a>
    </div>

    <div class="fPagamento text-center col align-self-center" >
        
        <img  src="/img/svg/cartoes-aceitos.svg" alt="Cartões Aceitos">
    </div>

    <div class="fSocialMedia d-flex justify-content-end align-items-center">
        
            
                <a class="p-3" href="https://www.instagram.com" target="_blank">
                    <img src="/img/svg/insta-ico-footer.svg" alt="Ícone do Instagram">
                </a>
            
            
                <a class="p-3" href="https://www.facebook.com" target="_blank">
                    <img src="/img/svg/face-ico-footer.svg" alt="Ícone do Instagram">
                </a>
            
            
                <a class="p-3" href="https://wa.me/5548996536495?text=Ol%C3%A1%2C+vim+do+seu+Site%21" target="_blank">
                    <img src="/img/svg/whats-ico-footer.svg" alt="Ícone do Instagram">
                </a>
            
            
        
    </div>
  </section>
</footer>
