<header class="bg-secondary p-1">
    <section
      class="container bg-white rounded-5 justify-content-between py-3"
    >
      <div
        class="d-flex flex-wrap align-items-center justify-content-between"
      >
        <ul
          class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"
        >
          <li><a href="/homeadmin" class="btn btn-light m-1">Home</a></li>
          <li><a href="/produtosadmin" class="btn btn-light m-1">Cadastro Produtos</a></li>
          
        </ul>

        <div class="col-md-3 text-end">
          
        </div>
      </div>
    </section>
  </header>