<header>
    <section class="h-top-bg">
        <div class="hTop container">
            <div class="hMsgBoasVindas">Olá, seja bem vindo(a)!</div>
            <div class="hMsgFoneAtendimento">
              <a
                href="https://wa.me/5548996536495?text=Ol%C3%A1%2C+vim+do+seu+Site%21"
                target="_blank"
                rel="noopener noreferrer"
                >Atendimento ao cliente (xx) xxxxx-xxxx
                <img src="/img/svg/whatsapp-ico.svg" alt="Whatsapp Imagem"
              /></a>
            </div>
            <div class="hAcompPed">
              <a href="#"
                ><img
                  src="/img/svg/truck.svg"
                  alt="Caminhão de
                  Pedidos"
                />
                Acompanhe seu pedido!
              </a>
            </div>
            <div class="hSocialMedia">
              <div>
                <a
                  href="http://www.instagram.com"
                  target="_blank"
                  rel="noopener
                  noreferrer"
                  ><img
                    src="/img/svg/instagram-ico.svg"
                    alt="Ícone do Instagram"
                /></a>
              </div>
              <div>
                <a
                  href="http://www.facebook.com"
                  target="_blank"
                  rel="noopener
                  noreferrer"
                >
                  <img
                    src="/img/svg/facebook-ico.svg"
                    alt="Ícone do Instagram"
                /></a>
              </div>
              <div>
                <a
                  href="http://www.youtube.com"
                  target="_blank"
                  rel="noopener
                  noreferrer"
                  ><img
                    src="/img/svg/youtube-ico.svg"
                    alt="Ícone
                    do Instagram"
                /></a>
              </div>
            </div>
          </div>
    </section>
    <section class="h-middle-bg">
        <div class="hMiddle container">
            <div class="hLogo">
              <a href="/"
                ><img
                  src="/img/svg/logo-ico.svg"
                  alt="Logo do Site JMEG Notebooks"
                /><!--FALTA COLOCAR O LINK PARA EFETUAR A PESQUISA--></a
              >
            </div>
            <div class="hBusca">
              <input
                type="text"
                class="hTxtBusca"
                placeholder="o que procura hoje?"
              />
              <a href="#"
                ><!--FALTA COLOCAR O LINK PARA EFETUAR A PESQUISA--><img
                  src="/img/svg/lupa-search-ico.svg"
                  alt="buscar"
                  class="hImgBusca"
              /></a>
            </div>
            <div class="hFav">
              <a href="#">
                <div class="hFavImg">
                  <img src="/img/svg/favorito-ico.svg" alt="Favoritos" />
                </div>
                <div class="hTxtFav">Favoritos</div>
              </a>
            </div>
            <div class="hMConta">
              <a href="#">
                <div class="hMContaImg">
                  <img src="/img/svg/user-ico.svg" alt="Minha Conta" />
                </div>
                <div class="hMContaTxt">Minha Conta</div>
              </a>
            </div>
            <div class="hMCarrinho">
              <a href="#">
                <div class="hMCarrinhoImg">
                  <img
                    src="/img/svg/carrinho-ico.svg"
                    alt="Meu Carrinho "
                  />
                </div>
                <div class="hMCarrinhoTxt">Meu Carrinho</div>
              </a>
            </div>
          </div>
    </section>
    <section class="h-down-bg">
        <nav class="hDown container">
            <div class="hDMenuAll">TODOS</div>
            <div class="hDMenuMarca">MARCA</div>
            <div class="hDMenuProcessador">PROCESSADOR</div>
            <div class="hDMenuRam">RAM</div>
            <div class="hDMenuTamMonitor">TAMANHO MONITOR</div>
          </nav>
    </section>
    
    
    
  </header>