<li class="card m-3 list-group-item lista-item-meu-carrinho">
    <div class="d-flex item-meu-carrinho flex-row" style="width: 100%">
      <img src="/img/avif/dell-teste.avif" class="card-img-top" alt="Imagem Produto" />
      <div class="card-body">
        <h5 class="card-title">Nome Produto</h5>
        <p class="card-text">
          Texto Breve do Item
        </p>
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Remover Item
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">SIM</a></li>
          </ul>
        </div>
      </div>
      <div class="item-carrinho-vlr-add-rem d-flex flex-column justify-content-center">
        <div class="p-3 d-flex flex-row">
          <p class="p-1"><strong>R$</strong></p>
          <p id="vlr-item-carrinho" class="p-1"><strong>5000,00</strong></p>
        </div>        
        <div class="d-flex justify-content-center align-center">
          <p id="somar-item-carrinho" class="btn btn-primary m-1">+</p>
          <p id="qnt-item-carrinho" class="m-1 text-center input-group-text ">1</p>
          <p id="subtrair-item-carrinho" class="btn btn-primary m-1">-</p>
        </div>
      </div>
      
      
    </div>
  </li>