<li class="card m-3 list-group-item lista-item-meu-carrinho">
    <div class="d-flex item-meu-carrinho flex-row" style="width: 100%">
      <img src="/img/avif/dell-teste.avif" class="card-img-top" alt="Imagem Produto" />
      <div class="card-body">
        <h5 class="card-title">Nome Produto</h5>
        <p class="card-text">
          Texto Breve do Item
        </p>
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Remover Item
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">SIM</a></li>
          </ul>
        </div>
      </div>
      <p class="p-3"><strong>R$ 5000,00</strong></p>
      
    </div>
  </li>