<div class="card m-2" style="width: 18rem;">
    <img src="/img/avif/dell-teste.avif" class="card-img-top" alt="Imagem Produto">
    <div class="card-body card-item-lancado">
      <h5 class="card-title text-secondary"><strong>Nome Produto</strong></h5>
      <p class="card-text text-secondary">R$ 9999,00</p>
      
      <a href="/meucarrinho" class="btn btn-outline-primary m-1">Comprar</a>
      <a href="/itemvenda" class="btn btn-outline-primary m-1">Ver mais</a>
    </div>
  </div>